// Colors
$darkBlue: hsl(240, 76%, 16%);
$white: hsl(0, 0%, 100%);
$blueAqua: rgb(60,204,252);
$blueAqualight: rgb(179, 226, 241);

// Font Sizes
$font-s: 1rem;
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 2.625rem;