*{
    box-sizing: border-box;
}


:root {
    --dark: #0a0a0a;
    --dark-x: #111111;
    --dark-xx: #222222;
    --light: #fffff;
    --primary: #6D07E6;
    --primary-x: #6012ac;
    --muted: #a1b0bf;
}

body {
    font-family: 'Manrope', sans-serif;
    background: #fff;
    font-size: 1rem;
    font-weight: 400;
    transition: all 0.5s ease;
}

.text-primary {
    background: -webkit-linear-gradient(#370add, #6012ac);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.background {
    position: relative;
    /*border: 1px solid red;*/
    background-image: url('images/Background.png');
    padding: .8em 0; /*8px*/
    height: 100vh;
}

.container {
    /*border: 1px solid red;*/
    position: relative;
    margin: 0 auto;
}

.btn {
    background: #3cccfc;
}

.btn:hover {
    font-weight: bold;
    color: white;
    background: #19c4fc;
}

.smaller {
    display: none;
    visibility: hidden;
    /*border: 1px red solid;*/
}

.portfolio {
    height: 150vh;
    display: flex;
    background-image: url("images/Background2.png");
    overflow: visible;
}

.portfolio_container {
    display: flex;
    flex-direction: column;
    color: #172358;
}

.portfolio_h1 h2 {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    color: #6865e3;
    margin-top: 1em;
    margin-bottom: 0;
}

.portfolio_h1  h1 {
    text-align: center;
    font-size: 2em;
    font-weight: 800;
}

.linea {
    border-top: 3px solid #6865e3;
    max-width: 100px;
    padding: 0;
    margin: 8px auto 0 auto;
}

.portfolio_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2.5em 1em 0;
}

.portfolio_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 300px;
    height: 200px;
    margin: 2em;
    padding: 1em;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
}

.portfolio_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.portfolio_icon img {
    position: absolute;
    justify-content: center;
    width: 70%;
    height: 70%;
    top: -60px;
    right: 40px;
}

.portfolio_title {
    font-weight: bold;
    font-size: 1em;
}

/*.technologies {*/
/*    height: 100vh;*/
/*    display: flex;*/
/*}*/

.bg-active {
    background-color: white;
}

@media screen and (max-width: 750px) {

    .bigger {
        display: none !important;
    }

    .waves {
        display: none;
    }

    #burger-menu {
        width: 27px;
        height: 27px;
        /*margin: 50px;*/
        cursor: pointer;
        position: relative;
        z-index: 3;
    }

    #burger-menu span,
    #burger-menu span:before,
    #burger-menu span:after {
        background: white;
        display: block;
        height: 4px;
        position: absolute;

        transition: all 300ms ease;
    }

    #burger-menu span:before,
    #burger-menu span:after {
        content: '';
    }

    #burger-menu span {
        /*right: 0;*/
        /*top: 13px;*/
        width: 27px;
    }

    #burger-menu span:before {
        left: 0;
        top: -10px;
        width: 16px;
    }

    #burger-menu span:after {
        left: 0;
        top: 10px;
        width: 20px;
    }

    #burger-menu.close span {
        /*top: 13px;*/
        /*width: 27px;*/
        transform: rotate(-45deg);
        background: red;
        position: fixed;
    }

    #burger-menu.close span:before {
        top: 0;
        transform: rotate(90deg);
        width: 27px;
        background: red;
    }

    #burger-menu.close span:after {
        top: 0;
        left: 0;
        transform: rotate(90deg);
        width: 27px;
        opacity: 0;
    }

    #menu {
        display: flex;
        z-index: 2;
        min-width: 100%;
        min-height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        visibility: hidden;
        transition: all 300ms ease;
    }

    #menu.show {
        opacity: 1;
        visibility: visible;
        /*padding-top: 100px;*/
        background: var(--dark);
    }

    .smaller {
        display: flex;
        /*justify-content: center;*/
        position: relative;
        visibility: visible;
        z-index: 1;
        height: 70vh;
    }

    .smaller h2 {
        display: flex;
        margin-top: 50px;
        justify-content: center;
        text-align: center;
    }

}


    /*#menu li{*/
    /*    list-style: none;*/
    /*    position: relative;*/
    /*    width: 300px;*/
    /*    margin: auto;*/
    /*}*/

    /*#menu li:hover{*/
    /*    letter-spacing: 4px;*/
    /*}*/

    /*#menu li a{*/
    /*    color: white;*/
    /*    display: block;*/
    /*    font-size: 32px;*/
    /*    text-decoration: none;*/
    /*    margin-bottom: 30px;*/
    /*    position: relative;*/
    /*    transition: all 300ms;*/

    /*}*/

    /*#menu li a:before{*/
    /*    content: '';*/
    /*    position: absolute;*/
    /*    top: 0;*/
    /*    left: 0;*/
    /*    width: 100%;*/
    /*    height: 100%;*/
    /*    z-index: -1;*/
    /*    background-image: url(../image/trazo-menu1.png);*/
    /*    background-position: center;*/
    /*    background-size: contain;*/
    /*    background-repeat: no-repeat;*/
    /*    opacity: 0;*/
    /*    transform: scale(0);*/
    /*    transition: all 300ms;*/
    /*}*/


    /*#menu li a:hover:before{*/
    /*    opacity: 1;*/
    /*    transform: scale(1);*/

    /*}*/
/*}*/







